/* src/components/layout/WidgetGrid.module.css */
.widgetGrid {
  height: 100%;
}

.widgetItem {
  pointer-events: auto;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: var(--radius-3);
  overflow: hidden;
}
